/* table start */
table {
  border: #4caf50 solid 2px;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e5e5e5;
}

tbody td:last-child {
  text-align: center;
}

.edit-button,
.delete-button,
.addNew {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #45a049;
}
/* table end */
/* pop up start */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.popup-content {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.popup-content h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

.popup-content label {
  display: block;
  margin-bottom: 10px;
}

.popup-content input[type="text"],
.popup-content input[type="tel"],
.popup-content input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.popup-content button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.popup-content button[type="button"]:not(:last-child) {
  margin-right: 10px;
}

.popup-content button[type="button"]:hover {
  background-color: #45a049;
}
/* pop up end */
